 body {
     margin: 0;
     background:grey;
     background-size: cover;
 }


 header {
     position: fixed;
     width: 100%;
     text-align: center;
     color: rgb(0, 0, 0);
     transition: .4s;
     background: crimson;
 }

 h6 {
     position: absolute;
     width: 100%;
     text-align: right;
     color: rgb(0, 0, 0);
     transition: 1s;
     font-size: medium;
 }


 header {
     background: crimson;
     color: rgb(0, 0, 0);
     padding: 0 0 20px;

 }

 nav a {
     text-decoration: none;
     color: inherit;
     padding: 1rem;
     overflow: hidden;
 }

 .logo img {
     position: absolute;
     width: 330px;
     height: 100px;
     opacity: 100%;
     margin-top: 1px;
     margin-left: 10px;
     display: block;
     overflow: hidden;



 }

 .a {
     padding-top: 150px;
     text-align: center;
     color: antiquewhite;
 }

 .d{
     padding-top: 20px;
     padding-bottom: 20px;
     text-align: center;
     font-size: medium;
     font-weight: 200;
     transition: ease-in;
 }

 .e img {
     height:200px;
     width: 350px;
     padding: 10px;
 }
  .b {
      padding-top: 10px;
      text-align: center;
      color: antiquewhite;
  }
  